
form.package {
    width: 40%;
    text-align: center;
}


.package input {
    flex: 0 1 100%;
    border: 1px solid;
}

.package {
    color: darkblue;
    border: none;
    width: 60%;
    outline: none;
}


.package .field{
    display: flex;
    padding-bottom: 0;
}


