
<body>
<a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
<span class="navbar-text"> Най - надеждните доставки в страната
  </span>

<nav class="navbar navbar-expand-md navbar-dark  bg-dark sticky-top">

  <a class="navbar-brand under" href="/">PDS</a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/customer-home">Home</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/add-agent">Change Password</a>
          <a class="dropdown-item" href="/profile">Edit Profile</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Transaction
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/add-vehicle">Get All Transactions</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Package
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/getAllMyPackages">Get all packages</a>
          <a class="dropdown-item" href="/send">Send package</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container move">
    <form class="send" (ngSubmit)="packageForm.form.valid && send()" #packageForm="ngForm" novalidate>


        <!-- recipient email -->
      <div class="form-group">
        <div [ngClass]="{ 'has-error': packageForm.submitted}">
            <label for="email">Recipient Email</label>
          <div class="col-lg-6">
            <input type="text" name="recipient" [(ngModel)]="sendPackage.recipient" #recipient="ngModel" required />
        </div>
        </div>


        <!-- deliveryFrom office -->
        <div class="form-group">
        <div [ngClass]="{ 'has-error': packageForm.submitted}">
            <label for="deliveryOffice">Delivery From</label>
          <div class="col-lg-6">
            <select [(ngModel)]="sendPackage.deliveryOffice" #deliveryOffice="ngModel" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
              <option selected >Офиси</option>
              <option *ngFor="let o of offices" value="o">{{o}}</option>
              <!-- <option name="deliveryOffice" #deliveryOffice="ngModel" [(ngModel)]="sendPackage.deliveryOffice" value="Sofia">Sofia</option>
              <option name="deliveryOffice" #deliveryOffice="ngModel" [(ngModel)]="sendPackage.deliveryOffice" value="Plovdiv">Plovdiv</option>
              <option name="deliveryOffice" #deliveryOffice="ngModel"[(ngModel)]="sendPackage.deliveryOffice" value="Varna">Varna</option> -->
            </select>
            <input type="text" name="deliveryOffice" [(ngModel)]="sendPackage.deliveryOffice" #deliveryOffice="ngModel"
                required/>
        </div>
        </div>

        <!-- deliveryTo office -->
          <div class="form-group">
        <div [ngClass]="{ 'has-error': packageForm.submitted}">
            <label for="office">Delivery To</label>
          <div class="col-lg-6">
            <input type="text" name="office" [(ngModel)]="sendPackage.currentLocation"
                #deliveryType="ngModel" required />
        </div>
        </div>



        <!-- delivery type radio -->
            <div class="form-group">
        <div [ngClass]="{ 'has-error': packageForm.submitted}">
            <label for="deliveryType">Delivery Type</label>
          <div class="col-lg-6">
             <input type="radio" id="express" name="delivery" value="1" name="deliveryType"
                [(ngModel)]="sendPackage.deliveryType" #deliveryType="ngModel" required>
              <label for="express">Express</label>


              <input type="radio" id="economy" name="delivery" value="2" name="deliveryType"
                [(ngModel)]="sendPackage.deliveryType" #deliveryType="ngModel" required>
            <input type="hidden" name="deliveryType" value="2" />
              <label for="economy">Economy</label><br>
        </div>
            </div>
            </div>

        <!-- isSigned-->
              <div class="form-group">
        <div [ngClass]="{ 'has-error': packageForm.submitted}">
            <label for="isSigned">Signed</label>
          <div class="col-lg-6">
            <input type="checkbox" name="isSigned" [(ngModel)]="sendPackage.isSigned" #isSigned="ngModel"  />
            <input type="hidden" name="isFragile" value="false" />
        </div>
              </div>
              </div>

        <!-- isFragile-->
                <div class="form-group">

        <div [ngClass]="{ 'has-error': packageForm.submitted}">
            <label for="isFragile">Fragile</label>
          <div class="col-lg-6">
            <input type="checkbox" name="isFragile" [(ngModel)]="sendPackage.isFragile" #isFragile="ngModel"  />
            <input type="hidden" name="isFragile" value="false" />
        </div>
                </div>
                </div>

        <!--description-->
                  <div class="form-group">
        <div [ngClass]="{ 'has-error': packageForm.submitted}">
            <label for="description">Description</label>
          <div class="col-lg-6">
            <input type="text" name="description" [(ngModel)]="sendPackage.description" #description="ngModel"
                required />
        </div>
        </div>
                  </div>

        <!--weight-->
                    <div class="form-group">
        <div [ngClass]="{ 'has-error': packageForm.submitted}">
            <label for="weight">Weight</label>
          <div class="col-lg-6">
            <input type="number" name="weight" [(ngModel)]="sendPackage.weight" #weight="ngModel" required />
        </div>
        </div>
                    </div>


        <!--height-->
                      <div class="form-group">
        <div [ngClass]="{ 'has-error': packageForm.submitted}">
            <label for="height">Height</label>
          <div class="col-lg-6">
            <input type="number" name="height" [(ngModel)]="sendPackage.height" #height="ngModel" required />
        </div>
        </div>
                      </div>

        <!--width-->
                        <div class="form-group">
        <div [ngClass]="{ 'has-error': packageForm.submitted}">
            <label for="width">Width</label>
          <div class="col-lg-6">
            <input type="number" name="width" [(ngModel)]="sendPackage.width" #width="ngModel" required />
        </div>
        </div>


        <!--length-->
                          <div class="form-group">
        <div [ngClass]="{ 'has-error': packageForm.submitted}">
            <label for="length">Length</label>
          <div class="col-lg-6">
            <input type="number" name="length" [(ngModel)]="sendPackage.length" #length="ngModel" required />
        </div>
        </div>

        <div *ngIf="packageForm.submitted">your package has been sent </div>
                            <div class="col-lg-6">
                              <button type="submit" class="btn btn-primary centerButton">Send Package</button>
                            </div>
          </div>
                        </div>
        </div>
      </div>
      </div>
    </form>
</div>
