<div class="vacations">
    <div class="vacation" *ngFor= "let v of allUnapproved">

        <div class="containerche">

        
            <p>Id: {{v.vacationId}}</p>
            <p>Start Date: {{v.startDate}}</p>
            <p>End Date: {{v.endDate}}</p>
            <p>Description: {{v.description}}</p>
            <p>First Name: {{v.firstName}}</p>
            <p>Last Name: {{v.lastName}}</p>
    

            <div class="container">
                <form class="send" (ngSubmit)="f.form.valid && reviewVacation()" #f="ngForm" novalidate>
            
            
                    <div [ngClass]="{ 'has-error': f.submitted}">
                        <input type="radio" id="approve" name="delivery" value="1" vacationId = v.vacationId name="approve"
                            [(ngModel)]="approveVacation"  #approve="ngModel" required>
                        <label for="approve">Approve</label>
                        
                        
                        <input type="radio" id="disapprove" name="delivery" value="2" vacationId = v.vacationId name="disapprove"
                            [(ngModel)]="approveVacation" #disapprove="ngModel" required>
                        <input type="hidden" name="approveVacation" value="2" />
                        <label for="disapprove">Disapprove</label><br>
                    </div>
                    
                    <div *ngIf="f.submitted" >Saved!</div>
                    <div>
                        <button>Save changes</button>
                    </div>
            
                </form>

            
        </div>























</div>
</div>