<body>
    <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
    <span class="navbar-text"> Най - надеждните доставки в страната
      </span>
    
      <app-agent-header></app-agent-header>
    <div class ="padding">
<div class ="container move">
    <form class="disapprovePackage" (ngSubmit)="f.form.valid && disapprovePackage()" #f="ngForm" novalidate>
        <div class="form-group"></div>
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="number">Package Id</label>
            <div class="col-lg-6"></div>
            <input type="number"
              name="packageId" [(ngModel)]="packageId"
                #number="ngModel" required />
            <div *ngIf="f.submitted">Disapproved!</div>
        </div>
        <div>
            <div class="col-lg-6">
            <button type="submit" class="btn btn-primary centerButton">Add agent</button>
          </div>
        </div>
    </form>
    </div>
</div>
