<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
  
    <app-admin-header></app-admin-header>
  
<div class ="padding">
<div class ="container move">
    <form class="deleteOffice" (ngSubmit)="f.form.valid && deleteOffice()" #f="ngForm" novalidate>
        <div [ngClass]="{ 'has-error': f.submitted}">
          <label class="control-label col-sm-2" for="number">Office ID:</label>
          <div class="col-lg-6">
            <input type="number"
              name="officeId" [(ngModel)]="officeId"
                #email="ngModel" required />
            <div *ngIf="f.submitted">Poof, gone!</div>
        </div>
          <div class="col-lg-6">
            <button type="submit" class="btn btn-primary centerButton">Delete Office</button>
          </div>
        </div>
    </form>
</div>
</div>
