<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
  
  <nav class="navbar navbar-expand-md navbar-dark  bg-dark sticky-top">
  
    <a class="navbar-brand under" href="/driver-home">PDS</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/driver-home">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Status
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/start-work">Start Work</a>
            <a class="dropdown-item" href="/check-in-office"> Check in</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/check-in-office">Edit Profile</a>
            <a class="dropdown-item" href="/set-working-address">Change Working Address</a>
            <a class="dropdown-item" href="/request-vacation">Request Vacation</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Vehicle
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/get-all-vehicles">Get All Vehicles</a>
            <a class="dropdown-item" href="/get-vehicle">Get vehicle</a>
            <a class="dropdown-item" href="/release-vehicle">Release Vehicle</a>
          </div>
        </li>
  
      
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
<div class ="padding">
<div class ="container move">
  <div class="form-group">
    <form class="checkInOffice" (ngSubmit)="f.form.valid && checkInOffice()" #f="ngForm" novalidate>
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="number">Office Id</label>
            <input type="number"
              name="officeId" [(ngModel)]="officeId"
                #email="ngModel" required />
          <div class="form-group">
            <div *ngIf="f.submitted">Checked!</div>
        </div>
          <div class="col-lg-6">
            <button type="submit" class="btn btn-primary centerButton">Check in</button>
          </div>
        </div>
    </form>
</div>
</div>
</div>
