<div class ="container">
    <form name="form" (ngSubmit)="f.form.valid && forgottenPassword()" #f="ngForm" novalidate>
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="email">Email</label>
            <input type="text"
              name="email" [(ngModel)]="email"
                #username="ngModel" required />
            <div *ngIf="f.submitted">New password sent to email</div>
        </div>
        <div>
            <button>Request new password</button>
        </div>
    </form>
</div>>