<div class ="container">
    <form class="forgottenPassword" (ngSubmit)="f.form.valid && forgottenPassword()" #f="ngForm" novalidate>
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="email">Email</label>
            <input type="email"
              name="email" [(ngModel)]="forgottenModel.email"
                #email="ngModel" required />
            <div *ngIf="f.submitted">Check your mail for your new password! </div>
        </div>
        <div>
            <button>Request new password</button>
        </div>
    </form>
</div>