<body>
    <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
    <span class="navbar-text"> Най - надеждните доставки в страната
      </span>
    
      <app-customer-header></app-customer-header>
    <div class ="padding">
<div class ="container move">
    <form class="forgottenPassword" (ngSubmit)="f.form.valid && forgottenPassword()" #f="ngForm" novalidate>

            <div class="form-group">
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="email">Email</label>
            <div class="col-lg-6"></div>
            <input type="email"
              name="email" [(ngModel)]="forgottenModel.email"
                #email="ngModel" required />
            <div *ngIf="f.submitted">Check your mail for your new password! </div>
        </div>
        <div class="col-lg-6">
            <button type="submit" class="btn btn-primary centerButton">Change Password</button>
          </div>
        </div>
    </form>
    </div>
</div>