<body>
<a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
<span class="navbar-text"> Най - надежндните доставки в страната
  </span>

<nav class="navbar navbar-expand-md navbar-dark  bg-dark sticky-top">

  <a class="navbar-brand under" href="/">PDS</a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/driver-home">Home</a></li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Status
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/start-work">Start Work</a>
          <a class="dropdown-item" href="/check-in-office"> Check in</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/check-in-office">Edit Profile</a>
          <a class="dropdown-item" href="/profile">Change Working Address</a>
          <a class="dropdown-item" href="/profile">Request Vacation</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Vehicle
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/add-vehicle">Get All Vehicles</a>
          <a class="dropdown-item" href="/get-vehicle">Get vehicle</a>
          <a class="dropdown-item" href="/release-vehicle">Release Vehicle</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Package
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/get-all-packages-in-my-city">Get all packages in my city</a>
          <a class="dropdown-item" href="/send">Send package</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container move">
    <form class="set" (ngSubmit)="setAddressForm.form.valid && setWorkingAddress()" #setAddressForm="ngForm" novalidate>


        <!-- country -->
      <div class="form-group">
        <div [ngClass]="{ 'has-error': setAddressForm.submitted}">
            <label for="country">Country</label>
          <div class="col-lg-6">
            <input type="text" name="country" [(ngModel)]="addressModel.country" #country="ngModel" required />
        </div>
        </div>
      </div>

        <!-- city -->
        <div class="form-group">
        <div [ngClass]="{ 'has-error': setAddressForm.submitted}">
            <label for="city">City</label>
          <div class="col-lg-6">
            <input type="text" name="city" [(ngModel)]="addressModel.city" #city="ngModel"
                required />
        </div>
        </div>
        </div>

        <!-- Post code -->
          <div class="form-group">
        <div [ngClass]="{ 'has-error': setAddressForm.submitted}">
            <label for="postCode">Post Code</label>
          <div class="col-lg-6">
            <input type="text" name="postCode" [(ngModel)]="addressModel.postCode"
                #postCode="ngModel" required />
        </div>
        </div>
          </div>


        <!--region-->
            <div class="form-group">
        <div [ngClass]="{ 'has-error': setAddressForm.submitted}">
            <label for="region">Region</label>
          <div class="col-lg-6">
            <input type="text" name="region" [(ngModel)]="addressModel.region" #region="ngModel"
                required />

        </div>
        </div>
            </div>

              <div class="form-group">
        <div *ngIf="setAddressForm.submitted">set! </div>
        <div>
            <button>Set Address</button>
        </div>
              </div>

    </form>
</div>
