<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
  
    <app-driver-header></app-driver-header>
<div class ="padding">
<div class="container move">
    <form class="set" (ngSubmit)="setAddressForm.form.valid && setWorkingAddress()" #setAddressForm="ngForm" novalidate>


        <!-- country -->
      <div class="form-group">
        <div [ngClass]="{ 'has-error': setAddressForm.submitted}">
            <label for="country">Country</label>
          <div class="col-lg-6">
            <input type="text" name="country" [(ngModel)]="addressModel.country" #country="ngModel" required />
        </div>
        </div>
      </div>

        <!-- city -->
        <div class="form-group">
        <div [ngClass]="{ 'has-error': setAddressForm.submitted}">
            <label for="city">City</label>
          <div class="col-lg-6">
            <input type="text" name="city" [(ngModel)]="addressModel.city" #city="ngModel"
                required />
        </div>
        </div>
        </div>

        <!-- Post code -->
          <div class="form-group">
        <div [ngClass]="{ 'has-error': setAddressForm.submitted}">
            <label for="postCode">Post Code</label>
          <div class="col-lg-6">
            <input type="text" name="postCode" [(ngModel)]="addressModel.postCode"
                #postCode="ngModel" required />
        </div>
        </div>
          </div>


        <!--region-->
            <div class="form-group">
        <div [ngClass]="{ 'has-error': setAddressForm.submitted}">
            <label for="region">Region</label>
          <div class="col-lg-6">
            <input type="text" name="region" [(ngModel)]="addressModel.region" #region="ngModel"
                required />

        </div>
        </div>
            </div>

              <div class="form-group">
        <div *ngIf="setAddressForm.submitted">set! </div>
                <div class="col-lg-6">
                  <button type="submit" class="btn btn-primary centerButton">Set Address</button>
                </div>
              </div>

    </form>
</div>
</div>
