<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
    <app-admin-header></app-admin-header>
  
<div class="padding">
<div class="container move">
    <form class="add-vehicle" (ngSubmit)="addVehicleForm.valid && addVehicle()" #addVehicleForm="ngForm" novalidate>


        <!--capacity-->
      <div class="form-group">
        <div [ngClass]="{ 'has-error': addVehicleForm.submitted}">
            <label for="capacity">Capacity</label>
          <div class="col-lg-6">
            <input type="number" name="capacity" [(ngModel)]="addNewVehicle.capacity" #capacity="ngModel" required />
        </div>
        </div>
        </div>

        <!--year-->
      <div class="form-group">
        <div [ngClass]="{ 'has-error': addVehicleForm.submitted}">
            <label for="year">Year</label>
          <div class="col-lg-6">
            <input type="number" name="year" [(ngModel)]="addNewVehicle.year" #year="ngModel" required />
        </div>
        </div>
        </div>

        <!--fuel type-->
      <div class="form-group">
        <div [ngClass]="{ 'has-error': addVehicleForm.submitted}">
            <label for="fuelType">Fuel Type</label>
          <div class="col-lg-6">
            <input type="text" name="fuelType" [(ngModel)]="addNewVehicle.fuelType" #fuelType="ngModel" required />
          </div>
        </div>
      </div>



        <div *ngIf="addVehicleForm.submitted">Vehicle added!</div>
      <div class="col-lg-6">
        <button type="submit" class="btn btn-primary centerButton">Add Vehicle</button>
      </div>

    </form>
</div>
</div>
