<body>
<a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
<span class="navbar-text"> Най - надежндните доставки в страната
  </span>

<nav class="navbar navbar-expand-md navbar-dark  bg-dark sticky-top">

  <a class="navbar-brand under" href="/">PDS</a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/customer-home">Home</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/add-agent">Change Password</a>
          <a class="dropdown-item" href="/profile">Edit Profile</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Transaction
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/add-vehicle">Get All Transactions</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Package
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/getAllMyPackages">Get all packages</a>
          <a class="dropdown-item" href="/send">Send package</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
//TODO FIX conatiner-fluid
<div class="service">
  <div class="container-fluid">
    <div class="section-header">
      <h2>Услуги</h2>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="/assets/img/package.png" height="350" width="420">
          <h2>Пощенски услуги</h2>
          <div class="overlay">
            <h2></h2>
            <a class="info" href="#">Разгледай

            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="/assets/img/cargo.jpg" height="350" width="420">
          <h2>Карго услуги</h2>
          <div class="overlay">
            <h2></h2>
            <a class="info" href="#">Разгледай

            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="/assets/img/world.jpg" height="350" width="420">
          <h2>Международни услуги</h2>
          <div class="overlay">
            <h2></h2>
            <a class="info" href="#">Разгледай

            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="/assets/img/shipping.png" height="350" width="420">
          <h2>Товаро разтоварни услуги</h2>
          <div class="overlay">
            <h2></h2>
            <a class="info" href="#">Разгледай

            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="/assets/img/services.png" height="350" width="420">
          <h2>Административни услуги</h2>
          <div class="overlay">
            <h2></h2>
            <a class="info" href="#">Разгледай

            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="/assets/img/express.jpg" height="350" width="420">
          <h2>Експресни Доставки</h2>
          <div class="overlay">
            <h2></h2>
            <a class="info" href="#">Разгледай
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="/assets/img/animal.jpg" height="350" width="420">
          <h2>Превоз на доамшни любимци</h2>
          <div class="overlay">
            <h2></h2>
            <a class="info" href="#">Разгледай
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="/assets/img/package.png" height="350" width="420">
          <h2>Доставка на битови продукти1</h2>
          <div class="overlay">
            <h2></h2>
            <a class="info" href="#">Разгледай
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
