<body>
<a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
<span class="navbar-text"> Най - надеждните доставки в страната
  </span>

  <app-customer-header></app-customer-header>
<div class ="container move">
  <form name="profile-form" (ngSubmit)="f.form.valid && editProfile()" #f="ngForm" novalidate>
    <div class="form-group">
    <div [ngClass]="{ 'has-error': f.submitted}">
      <label for="phoneNumber">Phone Number</label>
      <div class="col-lg-6">
      <input type="number"
             name="phoneNumber" [(ngModel)]="editProfileModel.phoneNumber"
             #phoneNumber="ngModel" required />
      <div *ngIf="f.submitted
              ">Phone number is required</div>
    </div>
    </div>


      <div class="form-group">
    <div [ngClass]="{ 'has-error': f.submitted }">
      <label for="firstName">First name</label>
      <div class="col-lg-6">
      <input type="text"
             name="firstName" [(ngModel)]="editProfileModel.firstName"
             #firstName="ngModel" required />
      <div *ngIf="f.submitted
              ">First name is required</div>
    </div>
      </div>
      </div>
        <div class="form-group">
    <div [ngClass]="{ 'has-error': f.submitted}">
      <label for="lastName">Last name</label>
      <div class="col-lg-6">
      <input type="text"
             name="lastName" [(ngModel)]="editProfileModel.lastName"
             #lastName="ngModel" required />
      <div *ngIf="f.submitted
              ">Last name is required</div>
    </div>
    </div>
        </div>
          <div class="form-group">
    <div [ngClass]="{ 'has-error': f.submitted }">
      <label for="email">Email</label>
      <div class="col-lg-6">
      <input type="email"
             name="email" [(ngModel)]="editProfileModel.email"
             #password="ngModel" required />
      <div *ngIf="f.submitted
              ">Please enter valid email</div>
    </div>
          </div>

            <div class="col-lg-6">
              <button type="submit" class="btn btn-primary centerButton">Edit Profile</button>
            </div>
          </div>
    </div>
  </form>
</div>
