<body>
<a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
<span class="navbar-text"> Най - надежндните доставки в страната
  </span>

<nav class="navbar navbar-expand-md navbar-dark  bg-dark sticky-top">

  <a class="navbar-brand under" href="/">PDS</a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/customer-home">Home</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/add-agent">Change Password</a>
          <a class="dropdown-item" href="/profile">Edit Profile</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Transaction
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/add-vehicle">Get All Transactions</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Package
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/getAllMyPackages">Get all packages</a>
          <a class="dropdown-item" href="/send">Send package</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<div class ="container move">
  <form name="profile-form" (ngSubmit)="f.form.valid && editProfile()" #f="ngForm" novalidate>
    <div class="form-group">
    <div [ngClass]="{ 'has-error': f.submitted}">
      <label for="phoneNumber">Phone Number</label>
      <div class="col-lg-6">
      <input type="number"
             name="phoneNumber" [(ngModel)]="editProfileModel.phoneNumber"
             #phoneNumber="ngModel" required />
      <div *ngIf="f.submitted
              ">Phone number is required</div>
    </div>
    </div>


      <div class="form-group">
    <div [ngClass]="{ 'has-error': f.submitted }">
      <label for="firstName">First name</label>
      <div class="col-lg-6">
      <input type="text"
             name="firstName" [(ngModel)]="editProfileModel.firstName"
             #firstName="ngModel" required />
      <div *ngIf="f.submitted
              ">First name is required</div>
    </div>
      </div>
      </div>
        <div class="form-group">
    <div [ngClass]="{ 'has-error': f.submitted}">
      <label for="lastName">Last name</label>
      <div class="col-lg-6">
      <input type="text"
             name="lastName" [(ngModel)]="editProfileModel.lastName"
             #lastName="ngModel" required />
      <div *ngIf="f.submitted
              ">Last name is required</div>
    </div>
    </div>
        </div>
          <div class="form-group">
    <div [ngClass]="{ 'has-error': f.submitted }">
      <label for="email">Email</label>
      <div class="col-lg-6">
      <input type="email"
             name="email" [(ngModel)]="editProfileModel.email"
             #password="ngModel" required />
      <div *ngIf="f.submitted
              ">Please enter valid email</div>
    </div>
          </div>

            <div class="col-lg-6">
              <button type="submit" class="btn btn-primary centerButton">Edit Profile</button>
            </div>
          </div>
    </div>
  </form>
</div>
