<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
  
  <app-customer-header></app-customer-header>
  <div class ="padding">
<div class ="container move">
    <form class="changePassword" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>



                  <!-- old password -->
                  <div class="form-group"></div>
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="oldPass">Old Password</label>
            <div class="col-lg-6">
            <input type="password"
              name="oldPass" [(ngModel)]="ChangeModel.oldPass"
                #oldPass="ngModel" required />
            <div *ngIf="f.submitted">old pass</div>
        </div>


                  <!-- new password -->
                  <div class="form-group"></div>
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="newPass">New Password</label>
            <div class="col-lg-6">
            <input type="password"
              name="newPass" [(ngModel)]="ChangeModel.newPass"
                #newPass="ngModel" required />
            <div *ngIf="f.submitted">new pass</div>
        </div>

        
                  <!-- confirm password -->
                  <div class="form-group"></div>
                  <div [ngClass]="{ 'has-error': f.submitted}">
                    <label for="confirmPass">Confirm Password</label>
                    <div class="col-lg-6">
                    <input type="password"
                      name="confirmPass" [(ngModel)]="ChangeModel.confirmPass"
                        #confirmPass="ngModel" required />
                    <div *ngIf="f.submitted">confirm pass</div>
                </div>



                <div>
                  <div class="col-lg-6">
                  <button type="submit" class="btn btn-primary centerButton">Change password</button>
                </div>
                </div>
                </div>
                </div>
                </div>
    </form>
    </div>
</div>