<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
  
  <nav class="navbar navbar-expand-md navbar-dark  bg-dark sticky-top">
  
    <a class="navbar-brand under" href="/">PDS</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/customer-home">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/change-password">Change Password</a>
            <a class="dropdown-item" href="/profile">Edit Profile</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Transaction
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/get-all-my-transactions">Get All Transactions</a>
          </div>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Package
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/getAllMyPackages">Get all packages</a>
            <a class="dropdown-item" href="/send">Send package</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class ="padding">
<div class ="container move">
    <form class="changePassword" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>



                  <!-- old password -->
                  <div class="form-group"></div>
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="oldPass">Old Password</label>
            <div class="col-lg-6">
            <input type="password"
              name="oldPass" [(ngModel)]="ChangeModel.oldPass"
                #oldPass="ngModel" required />
            <div *ngIf="f.submitted">old pass</div>
        </div>


                  <!-- new password -->
                  <div class="form-group"></div>
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="newPass">New Password</label>
            <div class="col-lg-6">
            <input type="password"
              name="newPass" [(ngModel)]="ChangeModel.newPass"
                #newPass="ngModel" required />
            <div *ngIf="f.submitted">new pass</div>
        </div>

        
                  <!-- confirm password -->
                  <div class="form-group"></div>
                  <div [ngClass]="{ 'has-error': f.submitted}">
                    <label for="confirmPass">Confirm Password</label>
                    <div class="col-lg-6">
                    <input type="password"
                      name="confirmPass" [(ngModel)]="ChangeModel.confirmPass"
                        #confirmPass="ngModel" required />
                    <div *ngIf="f.submitted">confirm pass</div>
                </div>



                <div>
                  <div class="col-lg-6">
                  <button type="submit" class="btn btn-primary centerButton">Change password</button>
                </div>
                </div>
                </div>
                </div>
                </div>
    </form>
    </div>
</div>