<div class ="container">
    <form class="changePassword" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>



                  <!-- old password -->
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="oldPass">Old Password</label>
            <input type="password"
              name="oldPass" [(ngModel)]="ChangeModel.oldPass"
                #oldPass="ngModel" required />
            <div *ngIf="f.submitted">old pass</div>
        </div>


                  <!-- new password -->
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="newPass">New Password</label>
            <input type="password"
              name="newPass" [(ngModel)]="ChangeModel.newPass"
                #newPass="ngModel" required />
            <div *ngIf="f.submitted">new pass</div>
        </div>

        
                  <!-- confirm password -->
                  <div [ngClass]="{ 'has-error': f.submitted}">
                    <label for="confirmPass">Confirm Password</label>
                    <input type="password"
                      name="confirmPass" [(ngModel)]="ChangeModel.confirmPass"
                        #confirmPass="ngModel" required />
                    <div *ngIf="f.submitted">confirm pass</div>
                </div>



        <div>
            <button>Request new password</button>
        </div>
    </form>
</div>