<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
  
    <app-driver-header></app-driver-header>
<div class ="padding">
  <div class ="container move">
    <div class="vehicle" *ngFor= "let d of allVehicles">
        <p>Id: {{d.id}}</p>
        <p>Available: {{d.isAvailable}}</p>
        <p>Capacity: {{d.capacity}}</p>
        <p>Year: {{d.year}}</p>
        <p>Fuel type: {{d.fuelType}}</p>
        <br>
    </div>
</div>
</div>
</body>
