<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
  
    <app-admin-header></app-admin-header>
  
<div class="padding">
<div class="container move">
  <form class="add-driver" (ngSubmit)="addDriverForm.valid && addDriver()" #addDriverForm="ngForm" novalidate>

    <div class="form-group">
    <!--email-->
    <div [ngClass]="{ 'has-error': addDriverForm.submitted}">
      <label for="email">Email</label>
      <div class="col-lg-6">
      <input type="email" name="email" [(ngModel)]="addNewDriver.email" #capacity="ngModel" required />
    </div>
      <div class="form-group">
      </div>
    </div>

    <!--firstName-->
    <div [ngClass]="{ 'has-error': addDriverForm.submitted}">
      <label for="firstName">First Name</label>
      <div class="col-lg-6">
      <input type="text" name="firstName" [(ngModel)]="addNewDriver.firstName" #capacity="ngModel" required />
    </div>
      <div class="form-group">
      </div>
    </div>

    <!--lastName-->
    <div [ngClass]="{ 'has-error': addDriverForm.submitted}">
      <label for="lastName">Last Name</label>
      <div class="col-lg-6">
      <input type="text" name="lastName" [(ngModel)]="addNewDriver.lastName" #capacity="ngModel" required />
    </div>
    </div>
      <div class="form-group">

    <!--password-->
    <div [ngClass]="{ 'has-error': addDriverForm.submitted}">
      <label for="password">Password</label>
      <div class="col-lg-6">
      <input type="password" name="password" [(ngModel)]="addNewDriver.password" #capacity="ngModel" required />

    </div>
    </div>
      <div class="form-group">
    <!--phoneNumber-->
    <div [ngClass]="{ 'has-error': addDriverForm.submitted}">
      <label for="phoneNumber">Phone Number</label>
      <div class="col-lg-6">
      <input type="number" name="phoneNumber" [(ngModel)]="addNewDriver.phoneNumber" #fuelType="ngModel" required />

    </div>

    </div>
      <div class="form-group">
    <!--Remaining Paid leave-->
    <div [ngClass]="{ 'has-error': addDriverForm.submitted}">
      <label for="paidLeave">Paid Leave</label>
      <div class="col-lg-6">
      <input type="text" name="paidLeave" [(ngModel)]="addNewDriver.remainingPaidLeave" #fuelType="ngModel" required />
      </div>
    </div>
      </div>



    <div *ngIf="addDriverForm.submitted">Driver added!</div>
        <div>
          <div class="col-lg-6">
            <button type="submit" class="btn btn-primary centerButton">Add Driver</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </form>
</div>
</div>
