
<ul>
    <li>
        <a routerLink ="/home">Home</a>
    </li>
    <li>
        <a routerLink ="/login">Login</a>
    </li>
    <li *ngIf ="!isLogged">
        <a routerLink ="/register">Register</a>
    </li>
    <li>
        <a routerLink ="/forgottenPassword">ForgottenPassword</a>
    </li>
    <li>
        <a routerLink ="/getAllMyPackages">My Packages</a>
    </li>
    <li>
        <a routerLink ="/profile">Edit profile</a>
    </li>
    <li>
        <a routerLink ="/logout" (click)="logout()">Logout</a>
    </li>
</ul>