<div class="container">


<ul>
    <li>
        <a routerLink ="/home" class="main-menu">Home</a>
    </li>
    <li>
        <a routerLink ="/login" class="main-menu">Login</a>
    </li>
    <li *ngIf ="!isLogged">
        <a routerLink ="/register" class="main-menu">Register</a>
    </li>
    <li>
        <a routerLink ="/forgottenPassword" class="main-menu">ForgottenPassword</a>
    </li>
    <li>
        <a routerLink ="/getAllMyPackages" class="main-menu">My Packages</a>
    </li>
    <li>
        <a routerLink ="/profile" class="main-menu">Edit profile</a>
    </li>
    <li>
        <a routerLink ="/send" class="main-menu">Send Package</a>
    </li>
    <li>
        <a routerLink ="/logout" (click)="logout()" class="main-menu">Logout</a>
    </li>
</ul>
</div>