<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PDS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/send">Send package</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">Edit profile</a>
                    <a class="dropdown-item" href="/getAllMyPackages">My Packages</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>





<div class="container">


    <ul>
        <li>
            <a routerLink="/home" class="main-menu">Home</a>
        </li>
        <li>
            <a routerLink="/login" class="main-menu">Login</a>
        </li>
        <li *ngIf="!isLogged">
            <a routerLink="/register" class="main-menu">Register</a>
        </li>
        <li>
            <a routerLink="/forgottenPassword" class="main-menu">ForgottenPassword</a>
        </li>
        <li>
            <a routerLink="/getAllMyPackages" class="main-menu">My Packages</a>
        </li>
        <li>
            <a routerLink="/profile" class="main-menu">Edit profile</a>
        </li>
        <li>
            <a routerLink="/send" class="main-menu">Send Package</a>
        </li>
        <li>
            <a routerLink="/getAllDrivers" class="main-menu">Get all drivers</a>
        </li>
        <li>
            <a routerLink="/get-all-vacations" class="main-menu">Get all vacations</a>
        </li>
        <li>
            <a routerLink="/add-vehicle" class="main-menu">Add Vehicle</a>
        </li>
        <li>
            <a routerLink="/add-office" class="main-menu">Add Office</a>
        </li>
        <li>
            <a routerLink="/add-driver" class="main-menu">Add Driver</a>
        </li>
        <li>
            <a routerLink="/add-agent" class="main-menu">Add Agent</a>
        </li>
        <li>
            <a routerLink="/delete-vehicle" class="main-menu">Delete Vehicle</a>
        </li>
        <li>
            <a routerLink="/delete-office" class="main-menu">Delete Office</a>
        </li>
        <li>
            <a routerLink="/delete-driver" class="main-menu">Delete Driver</a>
        </li>
        <li>
            <a routerLink="/delete-agent" class="main-menu">Delete Agent</a>
        </li>
        <li>
            <a routerLink="/disapprove-package" class="main-menu">Disapprove Package</a>
        </li>
        <li>
            <a routerLink="/approve-package" class="main-menu">Approve Package</a>
        </li>
        <li>
            <a routerLink="/get-vehicle" class="main-menu">Get Vehicle</a>
        </li>
        <li>
            <a routerLink="/release-vehicle" class="main-menu">Release Vehicle</a>
        </li>
        <li>
            <a routerLink="/check-in-office" class="main-menu">Check-in Office</a>
        </li>
        <li>
            <a routerLink="/start-work" class="main-menu">Start work</a>
        </li>
        <li>
            <a routerLink="/get-all-packages" class="main-menu">Get all packages</a>
        </li>
        <li>
            <a routerLink="/get-all-pending-packages" class="main-menu">Get pending packages</a>
        </li>
        <li>
            <a routerLink="/get-all-transactions" class="main-menu">Get all transactions</a>
        </li>
        <li>
            <a routerLink="/set-working-address" class="main-menu">Set working address</a>
        </li>
        <li>
            <a routerLink="/get-all-packages-in-my-city" class="main-menu">Get all packages in my city</a>
        </li>
        <li>
            <a routerLink="/get-all-unapproved-vacations" class="main-menu">Get all unapproved vacations</a>
        </li>
        <li>
            <a routerLink="/change-password" class="main-menu">Change password</a>
        </li>
        <li>
            <a routerLink="/get-transaction-by-user" class="main-menu">Get all my transactions</a>
        </li>
        <li>
            <a routerLink="/get-all-vehicles" class="main-menu">Get all vehicles</a>
        </li>
        <li>
            <a routerLink="/request-vacation" class="main-menu">Request vacation</a>
        </li>
        <li>
            <a routerLink="/request-vacation-a" class="main-menu">Request vacation agent</a>
        </li>
        <li>
            <a routerLink="/get-all-offices" class="main-menu">Get all offices</a>
        </li>
        <li>
            <a routerLink="/get-all-agents" class="main-menu">Get all agents</a>
        </li>
        <li>
            <a routerLink="/logout" (click)="logout()" class="main-menu">Logout</a>
        </li>
    </ul>
</div>