<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
  
    <app-admin-header></app-admin-header>
  
<div class ="padding">
<div class ="container move">
    <form class="deleteDriver" (ngSubmit)="f.form.valid && deleteDriver()" #f="ngForm" novalidate>
        <div [ngClass]="{ 'has-error': f.submitted}">
          <label class="control-label col-sm-2" for="driverID">Driver ID:</label>
          <div class="col-lg-6">
            <input type="number"
              name="driverId" [(ngModel)]="driverId"
                #email="ngModel" required />
            <div *ngIf="f.submitted">Poof, gone!</div>
        </div>
      <div class="col-lg-6">
        <button type="submit" class="btn btn-primary centerButton">Delete driver</button>
      </div>
        </div>
    </form>
</div>
</div>
