<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
  
    <app-admin-header></app-admin-header>
  
<div class ="padding">
<div class ="container move">
    <form class="deleteAgent" (ngSubmit)="deleteAgentF.form.valid && deleteAgent()" #deleteAgentF="ngForm" novalidate>
        <div [ngClass]="{ 'has-error': deleteAgentF.submitted}">
          <label class="control-label col-sm-2" for="email">Agent ID:</label>
          <div class="col-lg-6">
            <input type="number"
              name="agentId" [(ngModel)]="agentId"
                #email="ngModel" required />
            <div *ngIf="deleteAgentF.submitted">Poof, gone!</div>
        </div>
        <div>
          <div class="col-lg-6">
            <button type="submit" class="btn btn-primary centerButton">Delete agent</button>
          </div>
        </div>
        </div>
    </form>
</div>
</div>
