<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
  
    <app-driver-header></app-driver-header>
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <h1>Карайте внимателно:</h1>
      <br>
      <br>
      <h2>Вашето здраве е на първо място!</h2>

    </div>
    <div class="snimka col-lg-6">
      <img src="/assets/img/safe.jpg" width="500" height="420" class="img-fluid" >
    </div>
  </div>
</div>


<div class ="container">
  <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option selected >Офиси</option>
    <option *ngFor="let o of offices" value="o">{{o}}</option>
    <!-- <option name="deliveryOffice" #deliveryOffice="ngModel" [(ngModel)]="sendPackage.deliveryOffice" value="Sofia">Sofia</option>
    <option name="deliveryOffice" #deliveryOffice="ngModel" [(ngModel)]="sendPackage.deliveryOffice" value="Plovdiv">Plovdiv</option>
    <option name="deliveryOffice" #deliveryOffice="ngModel"[(ngModel)]="sendPackage.deliveryOffice" value="Varna">Varna</option> -->
  </select>
  <form class="startWork" (ngSubmit)="f.form.valid && startWork()" #f="ngForm" novalidate>
  

      <div [ngClass]="{ 'has-error': f.submitted}">
          <label for="array">IDs_csv</label>
          <input type="text"
            name="oldPass" [(ngModel)]="array"
              #oldPass="ngModel" required />
          <div *ngIf="f.submitted">submit</div>
      </div>


      <div>
          <button>Set route</button>
      </div>
  </form>
</div>