<body>
  <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
  <span class="navbar-text"> Най - надеждните доставки в страната
    </span>
  
    <app-admin-header></app-admin-header>
  
<div class="padding">
  <div class="container move">
    <form class=" add-agent" (ngSubmit)="addAgentForm.valid && addAgent()" #addAgentForm="ngForm" novalidate>
      <div class="form-group"></div>
        <!--email-->
        <div [ngClass]="{ 'has-error': addAgentForm.submitted}">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-lg-6">
            <input type="email" name="email" [(ngModel)]="addNewAgent.email" #capacity="ngModel" required />
          </div>
        </div>

        <!--firstName-->
        <div class="form-group">
          <div [ngClass]="{ 'has-error': addAgentForm.submitted}">
            <label for="firstName">First Name</label>
            <div class="col-lg-6">
              <input type="text" name="firstName" [(ngModel)]="addNewAgent.firstName" #capacity="ngModel" required />
            </div>
            </div>


          <!--lastName-->
          <div class="form-group">
            <div [ngClass]="{ 'has-error': addAgentForm.submitted}">
              <label for="lastName">Last Name</label>
              <div class="col-lg-6">
                <input type="text" name="lastName" [(ngModel)]="addNewAgent.lastName" #capacity="ngModel" required />
              </div>
            </div>
          </div>

          <!--password-->
          <div class="form-group">
            <div [ngClass]="{ 'has-error': addAgentForm.submitted}">
              <label for="password">Password</label>
              <div class="col-lg-6">
                <input type="password" name="password" [(ngModel)]="addNewAgent.password" #capacity="ngModel" required />
              </div>
            </div>
          </div>

          <!--phoneNumber-->
          <div class="form-group">
            <div [ngClass]="{ 'has-error': addAgentForm.submitted}">
              <label for="phoneNumber">Phone Number</label>
              <div class="col-lg-6">
                <input type="text" name="phoneNumber" [(ngModel)]="addNewAgent.phoneNumber" #fuelType="ngModel" required />
              </div>
            </div>
          </div>
          <div class="form-group">
            <!--Remaining Paid leave-->
            <div [ngClass]="{ 'has-error': addAgentForm.submitted}">
              <label for="paidLeave">Paid Leave</label>
              <div class="col-lg-6">
                <input type="text" name="paidLeave" [(ngModel)]="addNewAgent.remainingPaidLeave" #fuelType="ngModel" required />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div *ngIf="addAgentForm.submitted">Agent added!</div>
            <div>
              <div class="col-lg-6">
              <button type="submit" class="btn btn-primary centerButton">Add agent</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>

