<body>
    <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
    <span class="navbar-text"> Най - надеждните доставки в страната
    </span>

    <nav class="navbar navbar-expand-md navbar-dark  bg-dark sticky-top">

        <a class="navbar-brand under" href="/">PDS</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/forgottenPassword">Forgotten password</a>
                </li>
            </ul>

        </div>
    </nav>