<body>
    <a class="navbar-brand logo"><img src="/assets/img/PDS.png" alt="image"> </a>
    <span class="navbar-text"> Най - надеждните доставки в страната
      </span>
    
    <nav class="navbar navbar-expand-md navbar-dark  bg-dark sticky-top">
    
      <a class="navbar-brand under" href="/">PDS</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/agent-home">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/change-password">Change Password</a>
              <a class="dropdown-item" href="/profile">Edit profile</a>
              <a class="dropdown-item" href="/request-vacation-a">Request vacation</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Package
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/get-all-pending-packages">Get Pending Packages</a>
              <a class="dropdown-item" href="/approve-package">Approve Package</a>
              <a class="dropdown-item" href="/disapprove-package">Disapprove Package</a>
              <a class="dropdown-item" href="/get-all-packages">Get All Package</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
<div class="packages">
    <div class="package" *ngFor= "let p of allPackages">
        <p>Id: {{p.id}}</p>
        <p>Recipient: {{p.recipient.firstName + ' ' + p.recipient.lastName}}</p>
        <p>Destination office: {{p.deliveryOffice.name}}</p>
        <p>Current office: {{p.currentLocation.name}}</p>
        <p>Delivery type: {{p.deliveryType}}</p>
        <p>Signed: {{p.isSigned}}</p>
        <p>Fragile: {{p.isFragile}}</p>
        <p>Description: {{p.description}}</p>
        <p>Weight: {{p.weight}}</p>
        <br>

    </div>
</div>