<div class ="container">
    <form class="deleteVehicle" (ngSubmit)="f.form.valid && deleteVehicle()" #f="ngForm" novalidate>
        <div [ngClass]="{ 'has-error': f.submitted}">
            <label for="number">Vehicle Id</label>
            <input type="number"
              name="vehicleId" [(ngModel)]="vehicleId"
                #email="ngModel" required />
            <div *ngIf="f.submitted">Poof, gone!</div>
        </div>
        <div>
            <button>Delete vehicle</button>
        </div>
    </form>
</div>