<div class="container">
  <form class="add-office" (ngSubmit)="addOfficeForm.valid && addOffice()" #addOfficeForm="ngForm" novalidate>


    <!--city-->
    <div [ngClass]="{ 'has-error': addOfficeForm.submitted}">
      <label for="city">City</label>
      <input type="text" name="city" [(ngModel)]="addNewOffice.city" #capacity="ngModel" required />
    </div>

    <!--country-->
    <div [ngClass]="{ 'has-error': addOfficeForm.submitted}">
      <label for="country">Country</label>
      <input type="text" name="country" [(ngModel)]="addNewOffice.country" #capacity="ngModel" required />
    </div>

    <!--name-->
    <div [ngClass]="{ 'has-error': addOfficeForm.submitted}">
      <label for="name">Name</label>
      <input type="text" name="name" [(ngModel)]="addNewOffice.name" #capacity="ngModel" required />
    </div>

    <!--postcode-->
    <div [ngClass]="{ 'has-error': addOfficeForm.submitted}">
      <label for="postcode">Postcode</label>
      <input type="number" name="postcode" [(ngModel)]="addNewOffice.postcode" #capacity="ngModel" required />
    </div>

    <!--street-->
    <div [ngClass]="{ 'has-error': addOfficeForm.submitted}">
      <label for="street">Street</label>
      <input type="text" name="street" [(ngModel)]="addNewOffice.street" #fuelType="ngModel" required />

    </div>
    <!--region-->
    <div [ngClass]="{ 'has-error': addOfficeForm.submitted}">
      <label for="region">Region</label>
      <input type="text" name="region" [(ngModel)]="addNewOffice.region" #fuelType="ngModel" required />

    </div>



    <div *ngIf="addOfficeForm.submitted">Office added!</div>
    <div>
      <button>Add Office</button>
    </div>
  </form>
</div>
